@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url(./assets/47cbc4e2adbc5db9-s.p.ttf) format('truetype');
}

.text-shadow-lg {
  text-shadow: 5px 5px 10px black;
}
